$red: #BF2527;
$teal: #52A0A4;
$mustard: #F7B43F;
$blue-violet: #2F4375;
$dark-teal: #103948;
$grey-blue: #2E3440;
$midnight-blue: #14102b;

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Bitter:ital,wght@0,100..900;1,100..900');
$bodyFont: "Bitter", serif;
// font-family: "Anonymous Pro", serif;
