
<div class="banner">
  <div class="hero">
    <div class="banner-title">
      <h1> Laundry & Dry Cleaning Made Easy!</h1>
      <button type="button" class="btn btn-primary btn-lg">Schedule a Collection</button>
    </div>
    <div class="hero-img">
    </div>

  </div>
</div>

