.navbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1vw 3vw;
}

.navbar-logo {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  .logo {
    height: 7rem;
  }
}

.navbar-links{
  gap: 1.5rem;
  display: flex;
  justify-content: center;
  li{
    list-style: none;
    font-size: 1.5rem;
    font-family: $bodyFont;
  }
}

.nav-btn {
  font-size: 2rem;
  letter-spacing: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}

.hamburger-menu {
  display: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  background: none;
  margin-right: 1rem;
}


@media (max-width: 768px) {
  .login-btn{
    position:initial;
  }

  .hamburger-menu {
    display: block;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
  }

  .navbar-links.hidden {
    display: none;
  }

  .navbar-links:not(.hidden) {
    display: flex;
  }

}
