@import "bootstrap";
@import "font-awesome";

@import "config/fonts_colors";

@import "components/index";

body{
  color: $dark-teal;
}

a {
  text-decoration: none;
  color: $mustard;
  &:hover{
    color: white;
  }
}
